body {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;	
}

/* header*/
.console-header {
	background-color: #000000;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 0px 3px 5px #888888;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding-left: 50px;
}

.console-title {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    text-shadow: 5px 5px 8px #CCFFFF;
    font-size: 25px;
    color: #FFFFFF;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top:	-40px;
}

/*side menu*/
.console-menu {
	background-color: #EFEFEF;
	box-shadow: 2px 0px 3px #888888;
	color: #655342;
	position: fixed;
	border-right: 2px solid black;
	z-index: 500;
	top: 60px;
	left: 0;
	width: 200px;
	min-width: 200px;
	height: 100%;
}

.menu-list {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 23px;
	padding-left: 0;
	padding-top: 0;
	margin-top: 15px;
}

.menu-item {
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: background-color 0.3s ease;
}

.menu-list li {
	list-style-type: none;
}

.menu-item:hover {
	cursor: pointer;
	background-color: #D0D0D0!important;
}

.menu-list img {
	float: left;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	margin-left: 20px;
}

.menu-option {
	padding-top: 7px;
	margin-left: 70px;
}

/* Main Content */
.main-content {
	position: absolute;
	display: none;
	top: 60px;
	left: 200px;
	width: 100%;
	font-size: 50px;
	padding-left: 0;
	height: calc(100% - 60px);
	overflow-y: hidden; 
}

/* My Space */
.twitter-feed {
	box-shadow: -2px 0px 3px #888888;
	display: inline-block;
	height: 100%;
	width: 450px;
	min-width: 450px;
}

.left-content {
	display: inline-block;
	height: 100%;
	overflow: scroll;
	background-color: #F2F2F2;
	width: 53%;
}

.top-left {
	height: 450px;
}

.incoming-container {
	height: 400px;
	margin: 25px 25px 0px 25px;
	box-shadow: 3px 3px 3px #888888;
	border-radius: 10px;
	border: 1px solid #888888;
}

.incoming {
	height: 100%;
	width: 250px;
	box-shadow: 3px 0px 2px -2px #888888;
	overflow-y: hidden;
}

.incoming-list {
	margin: 0px;
	padding: 0px;
}

.incoming-person {
	height: 80px;
	width: auto;
	margin: 0px;
	padding-top: 15px;
	padding-left: 20px;
	font-size: 20px;
	border-top: 1px solid black 
}

.incoming-person:first-of-type {
	border-top: 0px;
}

.incoming-person p{
	margin: 0;
	padding: 0;
	font-size: 22px;
}

.incoming-person li{
	list-style-type: none;
}

.bottom-left {
	position: absolute;
	top: 425px;
	height: 550px;
}

.chart-container {
	height: 500px;
	margin: 25px;
	box-shadow: 3px 3px 3px #888888;
	border-radius: 10px;
	border: 1px solid #888888;
}

.chart-heading-container {
	height: 60px;	
}

.chart-heading {
	height: 50px;
	margin: 15px;
	font-size: 25px;
}

.line-container {
	padding: 0px 10px 0px 10px;
	height: 400px;
}

