body {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p , button{
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;	
}

.chathead p {
     margin: 0; 
}

/* header*/
.console-header {
	background-color: #4423A4;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 0px 3px 5px #888888;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding-left: 50px;
}

.console-title {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	/* text-shadow: 5px 5px 8px #CCFFFF; */
	font-size: 25px;
	color: #FFFFFF;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top:	-40px;
}

a.button {
	position: absolute;
	right: 75px;
	top: 10px;
	display: block;
	width: 165px;
	height: 35px;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: Century Gothic, sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	-o-border-radius: 6px; 
	-khtml-border-radius: 6px;
	border-radius: 6px;
	font-weight: 600;
}

a.light {
	/*background: #F5F5F5;*/
	background-color: #fff;
	color: #4423A4;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ECECEC');*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ECECEC)); */
	/*background: -moz-linear-gradient(top,  #FFFFFF,  #ECECEC); */
	/*color: #858585;*/
	/*text-shadow: 0px 1px 0px #fff;*/
	/*-webkit-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;*/
	/*-moz-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;*/
	/*-o-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;*/
	/*-khtml-box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;*/
	/*box-shadow: inset 0px 1px 0 #fff, 0px 1px 0 #B5B5B5;*/
}

/*side menu*/
.console-menu {
	background-color: #EFEFEF;
	box-shadow: 2px 0px 3px #888888;
	color: #2F2F2F;
	position: fixed;
	border-right: 2px solid black;
	z-index: 500;
	top: 60px;
	left: 0;
	width: 200px;
	min-width: 200px;
	height: 100%;
}

.menu-list {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 23px;
	padding-left: 0;
	padding-top: 0;
	margin-top: 15px;
}

.menu-item {
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: background-color 0.3s ease;
}

.menu-item:not(.no-hover):hover { /* only apply hover styling when the div does not have the class 'no-hover' */
  	cursor: pointer;
	background-color: #D0D0D0!important;
}

.menu-item i {
	display: inline-block;
	font-size: 36px;
	margin-bottom: 7px;
	vertical-align: middle;
}

.menu-list li {
	list-style-type: none;
}


.menu-list img {
	float: left;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	margin-left: 20px;
}

.menu-option {
	padding-top: 7px;
	margin-left: 22px;
}

/* Main Content */
.main-content {
	position: absolute;
	display: none;
	top: 60px;
	left: 200px;
	width: 100%;
	font-size: 50px;
	padding-left: 0;
	height: calc(100% - 60px);
}

/* My Space */
.twitter-feed {
	box-shadow: -2px 0px 3px #888888;
	z-index: 500;
	float: right;
	margin-right: 200px;	
	height: 100%;
	width: 450px;
	min-width: 450px;
}

.left-content {
	float: left;
	height: 100%;
	overflow: scroll;
	background-color: #FFFFFF;
	width: calc(100% - 655px);
}

.top-left {
	height: 450px;
	width: 100%;
	overflow: auto;
}

.incoming-container {
	height: 400px;
	margin: 25px 25px 0px 25px;
	/*box-shadow: 3px 3px 3px #888888;*/
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #888888;
}

.incoming {
	height: 100%;
	width: auto;
	background-color: #EFEFEF;
	overflow-y: hidden;
}

.incoming-list {
	margin: 0px;
	height: 100%;
	padding: 0px;
	overflow-y: auto;
}

.incoming-person {
	/*box-shadow: 3px 3px 3px #888888;*/
	border-radius: 10px;
	background-color: white;
	height: 80px;
	width: auto;
	margin: 20px;
	padding: 0px;
	font-size: 20px;
	border: 1px solid black 
}

.incoming-person p{
	/* vertical-align: middle; */
	margin: 0;
	padding: 0;
	/* height: 100%; */
	/* padding-left: 30px; */
	font-size: 22px;
}

.profile-pic {
	/* float: left; */
	height: 70px;
	padding: 5px;
	vertical-align: middle;
	/* padding-left: 5px; */
	/* padding-top: 5px; */
	border-radius: 50%;
	display: inline-block;
}

.chat {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
}

.chat:hover {
	cursor: pointer;
}

.chat i{
	display: inline-block;
	vertical-align: middle;
	font-size: 36px;
	width: 20%;
}

.incoming-person li{
	list-style-type: none;
	height: 80px;
	/* padding: 5px; */
	/* padding-left: 20px; */
	width: 100%;
}

.incoming-desc {
	/* height: 100%; */
	/* padding: 20px; */
	width: 80%;
	vertical-align: middle;
	display: inline-block;
	/* padding-left: 60px; */
}

.incoming-name, .arriving-in {
	font-weight: bold;
}

.bottom-left {
	height: 550px;
	width: 100%;
	overflow: auto;
}

.chart-container {
	height: 500px;
	margin: 0px 25px 25px 25px;
	border-radius: 10px;
	border: 1px solid #888888;
}

.chart-heading-container {
	height: 60px;	
}

.chart-heading {
	height: 50px;
	margin: 15px;
	font-size: 25px;
}

.line-container {
	padding: 0px 10px 0px 10px;
	height: 400px;
}

/*Challenge page*/
.challenges-page {
	overflow-y: auto;
	width: auto;
	right: 0;
	background-color: #EFEFEF;
}

.challenge-header {
	width: 100%;
	height: 450px;
	/* background: red; */
	position: relative;
	display: table;
	border-bottom: 1px solid #888888;
}

.challenge-banner {
	display: table-cell;
	height: 100%;
	background-color: #fff;
	padding-left: 12px;
	padding-right: 12px;
}

.challenge-twitter-feed {
	display: table-cell;
	width: 450px;
	/* background-color: blue; */
	height: 100%;
}

.challenge-banner h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.challenge-banner p {
	font-size: 22px;
}

.challenge-form-container {
	text-align: center;
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 3%;
	padding-bottom: 3%;
}

form.challenge-form {
    background-color: #fff;
    border: 1px #CECECE solid;
    border-radius: 10px;
}

.photo-upload-container {
    text-align: left;
}

.challenge-form p {
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
}

.challenge-form label {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}

.challenge-form input {
	font-size: 20px;
	width: 460px;
	height: 36px;
	box-shadow: inset 0 0 5px 1px #B9B9B9;
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
}

.challenge-form .hashtag-input input {
	width: 200px;
}

.challenge-form button {
	font-size: 22px;
	border-radius: 6px;
	border-style: solid;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	background-color: #fff;
	outline: none;
	color: #4423A4;
	padding: 4px 12px 4px 12px;
}

.challenge-form input.challenge-submit-button {
	background-color: #4423A4;
	font-family: 'Source Sans Pro', sans-serif;
	border: 0px;
	color: #fff;
	box-shadow: none;
	width: 150px;
	height: 60px;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.challenge-form input.challenge-submit-button:hover {
	cursor: pointer;
}

/* Chatroom */

.chatroom {
	position: absolute;
	margin-left: 20%;
	margin-top: 7%;
	width: 70%;
	height: 80%;
	z-index: 1000;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	overflow: hidden;
}

.contacts {
	margin-right: 0;
	width: 250px;
	height: 100%;
	overflow: scroll;
	border-right: 1px solid #F2F2F2;
	display: inline-block;
	background-color: #f2f2f2;
}

.contacts-list {
	margin: 0px;
	height: 100%;
	padding: 0;
}

.contact {
	margin: 0;
	vertical-align: middle;
	padding: 15px;
}

.contacts li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}

.contact-pic {
	height: 50px;
	padding: 5px;
	vertical-align: middle;
	/* padding-left: 5px; */
	/* padding-top: 5px; */
	border-radius: 50%;
	display: inline-block;
}

.contact-name {
	display: inline-block;
	vertical-align: middle;
}

.contact:hover {
	cursor: pointer;
}

.chatbox {
	display: inline-block;
	width: calc(100% - 251px);
	height: 100%;
	vertical-align: top;
}

.chathead {
	height: 50px;
	padding: 0px;
	padding-top: 24px;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #F2F2F2;
	background-color: #E5E9EC;
}

.chathead p {
    margin: 0;
}

.messages {
	width: 100%;
	height: 75%;
}

.textbox {
	height: calc(25% - 70px);
	border-top: 1px solid #E2E2E2;
	width: 100%;
}

#txtarea {
	text-align: left;
	font-size: 20px;
	padding: 5px;
	margin: 0px;
	width: 100%;
	height: 60%;
	border: none;
	outline: none;
}

.send {
	/* float: right; */
	/* margin-right: 50px; */
	/* margin-bottom: 20px; */
	padding: 8px 22px 8px 22px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 20px;
	border: 1px solid #F2F2F2;
	background-color: rgba(67, 137, 162, 0.4);
	border-radius: 4px;
	outline: none;
}

.send:hover {
	cursor: pointer;
}