body { 
	margin: 0; 
}

.main-banner {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.main-banner-image {
	background-image:url("../static/img/bannerImage.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.main-banner-overlay {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: rgba(102, 102, 204, 0.6);
	position: absolute;
	top: 0;
}

.header {
	position: absolute;
	top: 20px;
}