<!DOCTYPE html>
<html>
<head>
	<title>APic</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>

	<div class="main-banner">
		<div class="main-banner-image"></div>
		<div class="main-banner-overlay"></div>
		<div class="header">
			<div class="main-logo"></div>
			<div class="header-button-container">
				<button class="get-the-app-button">Get the app</button>
				<button class="merchant-button">Merchant</button>
			</div>
		</div>

	</div>

</body>

</html>