<!DOCTYPE html>
<html>
<head>
	<title>APic</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="main banner">
		<div class="main-banner-image"></div>
		<div class="main-banner-overlay"></div>
		<div class="header">
			<div class="main-logo"></div>
			<div class="header-button-container">
				<a href="#" class="header-button get-the-app-button">Get the app</a>
				<div class="header-button merchant-button dropdown-button-top">Merchant Log In
					<div class="merchant-login-dropdown">
						<form action="">
							<div class="input-container">
								<i class="material-icons">account_box</i><input type="text" name="username" placeholder="Username">
							</div>
							<div class="input-container">
								<i class="material-icons">https</i><input type="password" name="password" placeholder="Password">
							</div>
						</form>
						<a href="http://apic.space/chocolateorigin" class="login-button">Log in</a>
						<hr class="merchant-login-divider">
						<div class="register">
							Not an APic merchant yet? <a href="#" style="text-decoration: none; color: #4423A4;"><strong>Sign up here</strong></a>
						</div>
					</div>
				</div>
				
			</div>

		</div>
		<div class="welcome-text">
			<p>Welcome to APic</p>
		</div>

		<a href="https://play.google.com/store" class="google-play-button"></a>

	</div>
	<div class="main page-one">
		<div class="page-header">
			As an APic user...
			<hr class="horizontal-divider">
		</div>
		<ul class="cards-container">
			<li class="card">
				<div class="card-image" id="card-image-1">	
				</div>
				<div class="card-description">
					<h3>BROWSE</h3>
					<p>Browse photos around you<br> Find out what others are doing</p>
				</div>
			</li>
			<li class="card">
				<div class="card-image" id="card-image-2">	
				</div>
				<div class="card-description">
					<h3>TAKE THE CHALLENGE</h3>
					<p>Participate in challenges by posting photos</p>
				</div>
			</li>
			<li class="card">
				<div class="card-image" id="card-image-3">	
				</div>
				<div class="card-description">
					<h3>EARN SOMETHING</h3>
					<p>Earn APic credits as your photos get popular</p>
				</div>
			</li>
			<li class="card">
				<div class="card-image" id="card-image-4">	
				</div>
				<div class="card-description">
					<h3>SPEND LESS FOR MORE</h3>
					<p>Spend credits to purchase coupon deals in other participating merchants!</p>
				</div>
			</li>
		</ul>
		<a href="https://play.google.com/store" class="google-play-button" id="google-play-button-page-1"></a>

	</div>
	<div class="main page-two">
		<div class="page-two-overlay"></div>
		<ul class="cards-container">
			<li class="card">
				<div class="card-image" id="card-image-5">	
				</div>
				<div class="card-description">
					<h3>CREATE CHALLENGES</h3>
					<!-- <p>Set up photo challenges as a creative way to boost your popularity</p> -->
				</div>
			</li>
			<li class="card">
				<div class="card-image" id="card-image-6">	
				</div>
				<div class="card-description">
					<h3>PUBLISH</h3>
					
				</div>
			</li><br>
			<li class="card">
				<div class="card-image" id="card-image-7">	
				</div>
				<div class="card-description">
					<h3>HYPE IT UP</h3>
				</div>
			</li>
		</ul>
		<div class="page-details-right">
			<div class="page-header">
				As an APic merchant...
				<hr class="horizontal-divider">
			</div>
			<div class="page-details">
				<!-- <p>You can set up photo challenges as a creative way to boost your popularity and publicize your business to potential customers.</p>
				<p>You can also start and end challenges any time. Attracting users is really easy too, just put it up on APic and Apic will do the publicity for you. APic does location-based searches and Uber integration, enabling potential customers to discover your business AND bringing them to your location via Uber. Easy peasy!</p>
				<p>Make it APIC! Customers get APic credits after completing your challenges. They can exchange the credits into coupons that can be used to get more stuff from your business. Chain reaction!</p> -->

				<p>Set up photo challenges to boost your popularity</p>
				<p>Attract users by putting your challenges up on APic (make sure they are actionable)</p>
				<p>Make it EPIC!</p>
				<a class="join-apic" href="#">Join APic now</a>
			</div>
		</div>
	</div>
</body>

</html>