<!DOCTYPE html>
<html>
<head>
	<title>APic</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="main banner">
		<div class="main-banner-image"></div>
		<div class="main-banner-overlay"></div>
		<div class="header">
			<div class="main-logo"></div>
			<div class="header-button-container">
				<a href="#" class="header-button get-the-app-button">Get the app</a>
				<div class="header-button merchant-button dropdown-button-top">Merchant Log In
					<div class="merchant-login-dropdown">
						<form action="">
							<div class="input-container">
								<i class="material-icons">account_box</i><input type="text" name="username" placeholder="Username">
							</div>
							<div class="input-container">
								<i class="material-icons">https</i><input type="password" name="password" placeholder="Password">
							</div>
						</form>
						<a href="#" class="login-button">Log in</a>
						<hr class="merchant-login-divider">
						<div class="register">
							Not an APic merchant yet? <a href="#" style="text-decoration: none; color: #4423A4;"><strong>Sign up here</strong></a>
						</div>
					</div>
				</div>
				
			</div>

		</div>
		<div class="welcome-text">
			<p>Welcome to APic</p>
		</div>

		<a href="https://play.google.com/store" class="google-play-button"></a>

	</div>
	<div class="main page-one">
		<div class="page-header">
			How It Works
			<hr class="horizontal-divider">
		</div>
		<ul class="cards-container">
			<li class="card">
				<div class="card-image" id="card-image-1">	
				</div>
				<div class="card-description">
				Browse photos around you, find out what others are doing
				</div>
			</li>
			<div class="card-arrow">&#10093;</div>
			<li class="card">
				<div class="card-image" id="card-image-2">	
				</div>
				<div class="card-description">
					Participate in challenges by posting photos
				</div>
			</li>
			<div class="card-arrow">&#10093;</div>
			<li class="card">
				<div class="card-image" id="card-image-3">	
				</div>
				<div class="card-description">
					Earn likes and credits
				</div>
			</li>
			<div class="card-arrow">&#10093;</div>
			<li class="card">
				<div class="card-image" id="card-image-4">	
				</div>
				<div class="card-description">
					Spend credits to purchase coupons
				</div>
			</li>
		</ul>
	</div>
</body>

</html>